.ui-button {
	font-size: 5vw;
}

img {
	width: 100%;
}

section {
	padding-top: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

table {
	padding-top: 5vw;
}

td {
	padding-left: 12vw;
}

li {
	font-size: 5vw;
}

p {
	text-align: center;
	font-size: 8vw;
	white-space: normal;
	padding: 0vw 0vw 0vw 0vw;
}

h1 {
	font-size: 5vw;
}

article {
	font-size: 5vw;
}